.table {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  height: 60vh;
  color: #6a5d5d;
  padding: 8px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-radius: 10px;
}
.table td {
  padding: 0.5rem;
}
.table p {
  text-align: center;
}
.table tr:nth-of-type(odd) {
  border-radius: 10px;
  margin: 4px 0px;
  background-color: #e7e6ec;
}
.table img {
  width: 64px;
  height: 38px;
}
